/* elvish.io-specific stylings. */

#blog-title {
  cursor: default;
}

#blog-title a {
  color: white;
  text-decoration: none;
  cursor: default;
}

#blog-title a.command {
  color: #5b5;
}

/* macOS screenshots. */
img.macos {
  border-radius: 6px;
  box-shadow: 0 0 10px #999;
}

/* TODO: Font size likely still tweaking. */
.terminal-shot {
  font-size: 11pt;
  border: 1px solid black;
}
@media screen and (max-width: 540px) {
  .terminal-shot {
    font-size: 2.6vw;
    border: 1px solid black;
  }
}

/* Keys */
.key {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 2px;
  margin: 1px;
  font-size: 85%;
}

/* Code highlights. */
.sgr-1 {
  font-weight: bold;
}
.sgr-7 {
  color: inherit;
  background-color: inherit;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.sgr-31 {
  color: darkred; /* red in tty */
}
.sgr-41 {
  background-color: darkred; /* red in tty */
}
.sgr-32 {
  color: green; /* green in tty */
}
.sgr-42 {
  background-color: green; /* green in tty */
}
.sgr-33 {
  color: goldenrod; /* yellow in tty */
}
.sgr-43 {
  background-color: goldenrod; /* yellow in tty */
}
.sgr-34 {
  color: darkblue; /* blue in tty */
}
.sgr-44 {
  background-color: darkblue; /* blue in tty */
}
.sgr-35 {
  color: darkorchid; /* magenta in tty */
}
.sgr-45 {
  background-color: darkorchid; /* magenta in tty */
}
.sgr-36 {
  color: darkcyan; /* cyan in tty */
}
.sgr-46 {
  background-color: darkcyan; /* cyan in tty */
}
.sgr-37 {
  color: gray;
}
.sgr-47 {
  background-color: gray;
}
