/* elvish.io-specific stylings. */

#blog-title {
  cursor: default;
}

#blog-title a {
  color: white;
  text-decoration: none;
  cursor: default;
}

#blog-title a.command {
  color: #5b5;
}

/* macOS screenshots. */
img.macos {
  border-radius: 6px;
  box-shadow: 0 0 10px #999;
}

/* Keys */
.key {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 2px;
  margin: 1px;
  font-size: 85%;
}

/* Code highlights. */
.sgr-1 {
  font-weight: bold;
}
.sgr-31 {
  color: darkred;
}
.sgr-32 {
  color: green;
}
.sgr-33 {
  color: orange;
}
.sgr-34 {
  color: darkblue;
}
.sgr-35 {
  color: darkmagenta;
}
.sgr-36 {
  color: darkcyan;
}
.sgr-37 {
  color: gray;
}
